.App {
  width:100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.container {
  margin-top: 5%;
}

.btnGo {
  width: 55px;
  border: none;
  padding: 4px;
  color: #ffffff;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 5px;
  background: #1b7c41;
}

.container-picture {
  text-align: center;
}

.picture {
  width: 50%;
  margin-top: 10%;
  border-radius: 100%;
}

.container-stars {
  margin-top: 5%;
  text-align: center;
}

.stars::before {
  content: '⭐'
}

.container-error {
  margin-top: 10%;
  text-align: center;
}

.error {
  color: #ff7069;
}
